.navbarStyle {
    position: sticky !important;
    top: 0;
    background-color: #137cbd !important;
}

.textColor {
    color: var(--text-color);
}

.colorWhite {
    color: #ffffff !important;
}

.backgroundColorWhite {
    background-color: #ffffff !important;
}
