.title {
  margin-top: 0px;
  color: var(--text-color) !important;
  transition: color 500ms linear;
}

.container {
  margin: 40px auto;
  max-width: 800px;
}

.card {
  min-height: 400px;
  max-height: 400px;
  background-color: var(--background-card) !important;
  transition: background-color 500ms linear;
  text-align: left;
}
