:root {
  --background-color: #fff;
  --text-color: #fff;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: var(--background-color);
  transition: background-color 500ms linear;
}
