.container {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginContainer {
    align-self: center;
}

.title {
    margin-bottom: 20px !important;
    margin-left: 20px !important;
}

.card {
    max-height: 400px;
    max-width: 400px;
    background-color: var(--background-card) !important;
    transition: background-color 500ms linear;
}

.loginButton {
    margin-top: 60px;
}