.badgeRateContainer {
  display: none !important;
  max-height: '2rem';
  background-color: 'white';
  display: 'flex';
  align-items: center;
  justify-content: center;
}

.aspectsContainer,
.overallContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.aspectsOverallContainer {
  display: flex;
  justify-content: space-around;
}

.spinner {
  margin: 100px 259px;
}

.qualityContainer {
  width: 650px;
}

@media screen and (max-width: 650px) {
  .qualityContainer {
    width: 100vw;
  }
}

@media screen and (max-width: 650px) {
  .aspectsOverallContainer {
    flex-direction: column;
    gap: 30px;
  }
}
