.badgeRateContainer {
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.aspectsContainer,
.overallContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.aspectsOverallContainer {
  display: flex;
  justify-content: space-around;

}

.spinner {
  margin: 100px 259px;
}

.qualityContainer {
  width: 650px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .qualityContainer {
    width: 100vw;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .badgeRateContainer {
    margin-right: 40px;
  }
}

@media screen and (max-width: 650px) {
  .aspectsOverallContainer {
    flex-direction: column;
    gap: 30px;
  }
}
