:root {
    --background-color: #fff;
    --text-color: #fff;
    --background-card: #EBF1F5;
}

html,
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin: 0;
    font-family: sans-serif;
    background-color: var(--background-color);
    transition: background-color 500ms linear;
}

.body::-webkit-scrollbar {
    display: none;
}

.apexcharts-text {
    fill: var(--text-color) !important;
}

.apexcharts-title-text {
    fill: var(--text-color) !important;
}

.apexcharts-xaxistooltip-text {
    fill: var(--text-color) !important;
}

.apexcharts-tooltip-text {
    fill: #000;
    color: #000;
}

.apexcharts-tooltip-title {
    fill: #000;
    color: #000;
}

